<footer class="footer">
    <div>
        <p>© 2020 Karuna 2020</p>
    </div>
    <div>
        <p>Last updated: {{ build.timestamp | dateToFormat("dd LLLL yyyy, t") }}</p>
    </div>
</footer>
<script>var head = document.head || document.getElementsByTagName("head")[0];var script = document.createElement("script");script.src="https://platform.oswaldlabs.com/v1/agastya/load/karuna2020.js";script.type="text/javascript";script.charset="utf8";script.async=true;head.appendChild(script);</script>
<script>(function(i,s,o,g,r,a,m){i["GoogleAnalyticsObject"]=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,"script","https://www.google-analytics.com/analytics.js","ga");ga("create", "UA-106998524-2", "auto", {});</script>
<script>try{if(window.navigator && navigator.serviceWorker){navigator.serviceWorker.getRegistrations().then(function(registrations){for(var registration of registrations){registration.unregister()}})}}catch(error){}</script>