<header class="header">
    <a href="/" class="iconlink logo">
        <img class="logoheader" alt="" src="https://cdn.karuna2020.org/icon-white.svg">
        {{ meta.title }}
    </a>
    <nav class="socialmedia">
        <a href="#" aria-label="Facebook">
            {% include "icons/facebook.njk" %}
        </a>
        <a href="#" aria-label="Instagram">
            {% include "icons/instagram.njk" %}
        </a>
        <a href="#" aria-label="Twitter">
            {% include "icons/twitter.njk" %}
        </a>
        <a href="#" aria-label="RSS feed">
            {% include "icons/rss.njk" %}
        </a>
    </nav>
</header>