<div class="impact">
  <div>
    <div>₹6,59,741</div>
    <div>Total raised</div>
  </div>
  <div>
    <div>482</div>
    <div>People impacted</div>
  </div>
  <div>
    <div>26</div>
    <div>Contributors</div>
  </div>
  <div>
    <div>18</div>
    <div>Volunteers</div>
  </div>
</div>
