<div class="impact">
  <div>
    <div>₹{{ data.summary.totalAmountRaised | numberify }}</div>
    <div>Total raised</div>
  </div>
  <div>
    <div>{{ data.summary.numberOfPeopleImpacted | numberify }}</div>
    <div>People impacted</div>
  </div>
  <div>
    <div>{{ data.summary.numberOfContributors | numberify }}</div>
    <div>Contributors</div>
  </div>
  <div>
    <div>{{ data.summary.numberOfVolunteers | numberify }}</div>
    <div>Volunteers</div>
  </div>
</div>

<div class="content">
  <blockquote class="heroquote">
    <p>&ldquo;There are people in the world so hungry, that God cannot appear to them except in the form of food.&rdquo;</p>
    <footer><cite>Mahatma Gandhi</footer>
  </blockquote>
</div>
