.content {
    padding: 1em 0;
    max-width: 60ch;
}

.content > * + * {
    margin-top: 1em;
}

.content ul,
.content ol {
    padding-left: 1em;
}

.content iframe {
    margin-top: 3em;
    border: 1px solid #ddd;
    background-color: transparent;
    border-radius: 0.2em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
}

a.cta {
    background-color: var(--brand-color);
    color: #fff;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    display: inline-block;
    line-height: 1.1;
}
a.cta:focus {
    outline-color: var(--brand-color);
    border-radius: 0;
}

.partnerslist,
.people {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    line-height: 1.25;
}
.people > div {
    width: 10em;
    margin: 1em;
    max-width: 100%;
    font-size: 90%;
}
.people .postlist div:nth-child(2) {
    font-weight: bold;
    margin-bottom: 0.1em;
}
.people img {
    border-radius: 100%;
    width: 3.33em;
    margin: 0 auto 1em;
    display: block;
}
.partnerslist li {
    width: 10em;
    margin: 1em;
    max-width: 100%;
}
.partnerslist img {
    display: block;
    margin: 0 auto;
    width: 100%;
}
.partnerslist a {
    text-decoration: none;
    color: inherit;
    margin-bottom: 1em;
    display: block;
}
.partnerslist div {
    font-size: 75%;
    margin-top: 1em;
    opacity: 0.75;
}

@media (max-width: 500px) {
    .people > div,
    .partnerslist li {
        width: 100%;
    }
}
