html {
    overflow-y: scroll;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-height: 100vh;
}

.main,
.footer {
    padding: var(--spacing);
}

.header {
    color: #fff;
    background-color: var(--brand-color);
    line-height: 1;
}
.header > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing);
}
.header a {
    color: inherit;
}
.header .logo {
    font-size: 150%;
    text-decoration: none;
}
.header .logoheader {
    height: 2em;
    margin-right: 1em;
}
.header .socialmedia a {
    text-decoration: none;
    margin-left: 1em;
    display: inline-block;
}
.header .socialmedia svg {
    height: 1.5em;
}
.header > nav {
    padding: 0.5em var(--spacing);
    background-color: #f0f0f0;
    color: var(--brand-color);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.header > nav > a + a {
    margin-left: var(--spacing);
}
.header > nav > a.active {
    color: #000;
}
.header > nav > a:last-child {
    margin-left: auto;
    background-color: var(--brand-color);
    color: #fff;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #f0f0f0;
}

.impact {
    max-width: 60ch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.impact > div > div:first-child {
    font-size: 200%;
    line-height: 1.25;
}

.packlist {
    max-width: 60ch;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 1em;
}
.packlist li {
    flex: 1 0 0;
}
.packlist li + li {
    margin: 0;
}
.packlist img {
    height: 2.5em;
    display: inline-block;
}
.packlist span {
    display: block;
}
