body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 120%;
  line-height: 1.5;
  color: #1f0000;
  font-variant-ligatures: common-ligatures;
}

a {
  color: #f60000;
}
