---
layout: base
---

<section>
  <h2>Impact</h2>
  {% include "impact.njk" %}
</section>

<section>
  <h2>Updates</h2>
  {% include "postlist.njk" %}
</section>

<section>
  <h2>Karuna 2020 Dry Ration Pack</h2>
  {% include "pack.njk" %}
</section>

<section>
  {% include "logos.njk" %}
</section>
