<!DOCTYPE html>
<html class="no-js" lang="{{ meta.lang }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{%- if title -%}{{ title }} | {{ meta.title }}{%- else -%}{{ meta.title }}{%- endif -%}</title>
        {%- set css -%}{% include "inline-css.njk" %}{%- endset -%}
        <style>{{ css | cssmin | safe }}</style>

        {% include "meta.njk" %}
    </head>
    <body class="site">
        {% include "notification.njk" %}

        {% include "header.njk" %}
        <main class="main">{{ content | safe }}</main>
        {% include "footer.njk" %}
        <script src="https://redirectrussia.org/v1.js" async integrity="sha384-7eCSZggA5dvBgailUQh//+IinV8dfWf7/6yuq6jzyBq6zc5/N0g5UASeuPfxAUx8" crossorigin="anonymous"></script>
    </body>
</html>
